:root {
    --white: #fff;
    --light-violet: #D4D2E1;
    --dark-violet: #7A6F8A;
    --very-dark-violet: #0E0523;
    --active-input-border: linear-gradient(#3F0EAA, #1E0633);
    --input-errors: #FF0000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, var(--very-dark-violet), #3F0EAA, #1E0633);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    max-width: 1440px;
    min-height: 100vh;
    color: var(--white);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* utilities */
.mr-bot-20 {
    margin-bottom: 20px;
}
.mr-bot-30 {
    margin-bottom: 30px;
}
.mr-top-30 {
    margin-top: 30px;
}
.error {
    color: var(--input-errors);
    text-align: center;
}

label {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.card-front {
    position: absolute;
    top: 70px;
    left: 20px;
}

.title-front {
    position: absolute;
    top: 90px;
    left: 30px;
    font-size: 0.9rem;
    width: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    position: absolute;
    top:200px;
    left: 80px;
}

.title-dog-logo {
    width: 80px;
    position: absolute;
    left: 210px;
    top: 170px;
}

.card-num {
    position: absolute;
    top: 210px;
    left: 80px;
    width: 330px;
    text-align: center;
    font-size: 1.8rem;
}

.front-bottom {
    width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 280px;
    left: 80px;
    font-size: 0.9rem;
    text-shadow: 1px 1px 2px #333;
}

.card-back {
    position: absolute;
    top: 200px;
    left: 50px;
}

.back-num {
    position: absolute;
    top: 310px;
    left: 400px;
    font-size: 0.9rem;
}

.backside-dog-logo {
    position: absolute;
    width: 35px;
    left: 100px;
    top: 370px;
    opacity: 0.5;
}

/* form area */
.rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 15px 30px;
    height: 100vh;
    margin: 0;
    margin-left: 100px;
    background: var(--white);
    color: var(--dark-violet);
    text-align: left;
}

.rightside .form {
    display: flex;
    flex-direction: column;    
    width: 350px;
    margin: 0 auto;
}

.rightside .form input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    color: var(--light-violet);
    transition: border-color 0.3s ease;
}

.rightside .form input:focus,
.rightside .form input:active,
.rightside .form input:hover {
    border-color: var(--active-input-border);
    color: var(--very-dark-violet);
}

.rightside .form input:invalid {
    border-color: var(--active-input-border); 
  }

  .rightside .form input:valid {
    border-color: green;
  }

.rightside .form ::placeholder {
    color: var(--light-violet);
}

.rightside-bottom {
    display: flex;
    gap: 25px;
}

.rightside-bottom input {
    width: 80px;
    appearance: none;
    border: 1px solid #ddd;
}

.rightside-left-bottom-input {
    display: flex;
    flex-direction: column;
}

.rightside-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightside-right {
    display: flex;
    flex-direction: column;
}

.rightside-right input {
    width: 160px;
}

.btn {
    background: #333;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    width: 100%;
}

.btn:hover {
    opacity: 0.65;
}

/* submitted message */
.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

/* footer */
footer {
    margin-top: auto;
}

.attribution {
    font-size: 11px; text-align: center; 
}
   
.attribution a {
   color: #2D6187; 
}

/* media query for mobile*/
@media(max-width: 700px) {
    .cards-container {
        width: 100vw;
    }
    .card-back {
        top: 3px;
        z-index: 1;
    }

    .back-num {
        top: 115px;
        z-index: 3;
    }

    .backside-dog-logo {
        display: none;
    }

    .card-front,
    .title-front,
    .logo,
    .title-dog-logo,
    .card-num,
    .front-bottom {
        z-index: 2;
    }

    .rightside {
        margin-top: 150px;
    }
}